<p id="notice"><%= notice %></p>

<p>
  <b>Rank:</b>
  <%= @rank.rank %>
</p>

<p>
  <b>Score:</b>
  <%= @rank.score %>
</p>


<%= link_to 'Edit', edit_rank_path(@rank) %> |
<%= link_to 'Back', ranks_path %>
